libraries/opencv/l4t32.7.1/py3.10.11/ocv4.8.0/OpenCV-4.8.0-x86_64.sh filter=lfs diff=lfs merge=lfs -text
libraries/opencv/ubuntu18.04/py3.10.11/ocv4.8.0/OpenCV-4.8.0-x86_64.sh filter=lfs diff=lfs merge=lfs -text
libraries/opencv/l4t35.4.1/py3.8.10/OpenCV-4.8.0-aarch64.sh filter=lfs diff=lfs merge=lfs -text
