# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^(.+\.svg)$
#default_install_hook_types:
#  - pre-commit
#  - post-checkout
#  - post-merge
#  - post-rewrite

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=100000"]
      - id: trailing-whitespace
        exclude: ^.+\.sh$|^.+\.h$|^libraries/mediapipe/
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ^.+\.sh$|^.+\.h$|^libraries/mediapipe/
      - id: detect-private-key
      - id: mixed-line-ending
        exclude: ^.+\.sh$|^.+\.h$|^libraries/mediapipe/
      - id: fix-byte-order-marker
        exclude: ^.+\.sh$|^.+\.h$|^libraries/mediapipe/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.2
    hooks:
      - id: ruff # Run the linter.
        types_or: [python, pyi]
        args: [--select, I, --fix, --config=ruff.toml]
      - id: ruff-format # Run the formatter.
        types_or: [python, pyi]
        args: [--config=ruff.toml]
